#combatUI_container {
  width: 100%;
  height: 100%;
}

#minimap_container {
  position: absolute;
  top: 0;
  right: 0;
  border-color: orange;
  border-radius: 50%;
  border-width: 2px;
  width: 250px;
  height: 250px;
}
